html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.auth {
  min-height: 100vh;
  background-color: #00633d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, sans-serif;
  text-align: center;
  margin-bottom: 40px;
}
.auth__content {
  background-color: white;
  color: #000;
  border-radius: 20px;
  padding: 24px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  font: 1em , sans-serif;
}
.auth__content button {
  background-color: #4b9771;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 999px;
  font-size: 0.9rem;
  cursor: pointer;
}
.auth__content button:hover {
  background-color: #8bdca2;
  transition: background-color 0.3s;
}
.auth__content label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.auth__content input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.auth__footer {
  margin-top: 12px;
  font-size: 0.85rem;
    opacity: 0.8;
    background-color: #004127;
    padding: 10px;
    border-radius: 10px;
}
.auth__footer a {
  color: #a8e6c1;
  text-decoration: none;
}
.auth__footer a:hover {
  text-decoration: underline;
}
.auth__footer:hover {
  background-color: #005335;
  transition: background-color 0.3s;
}